flask==2.3.2
flask-mysqldb==0.2.0
mysqlclient==2.2.6
Werkzeug>=2.3.3  # Update this line
Flask-SQLAlchemy==3.0.4
Flask-Migrate==4.0.5
Flask-Cors==4.0.0
Flask-RESTful==0.3.9
Flask-Login==0.6.2
Flask-WTF==1.1.1
Flask-Mail==0.9.1
marshmallow==3.19.0
marshmallow-sqlalchemy==0.28.1
python-dotenv==0.21.0
pytest==7.4.0
Flask-JWT-Extended==4.4.4
